server {
    listen 80;

    server_name ~^((?<domain>.+?)\.)?nuc\.philogag\.com$;

    location / {
        set $goal_port 8080;
        set $goal_host 192.168.1.200;

        # 设置二级域名到本地端口的映射
        if ($domain = gitlab)   { set $goal_port 8880; }
        if ($domain = blog)     { set $goal_port 8881; }
        if ($domain = qt)       { set $goal_port 8882; }
        if ($domain = cloud)    { set $goal_port 8883; }

        # 设置其余二级域名到导航页
        if ($goal_port = 8080) { set $goal_host 127.0.0.1;}

        proxy_pass http://$goal_host:$goal_port;
        proxy_redirect off;
        proxy_set_header HOST $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

# 静态导航页
server {
    listen 8080;
    server_name *.*.*.*;
    root /usr/share/nginx/html;
}